<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1J52m6851A8XHGQVNR8h4xMICNzz1Utw</string>
	<key>GCM_SENDER_ID</key>
	<string>1065752035386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.broseph.justDoIt</string>
	<key>PROJECT_ID</key>
	<string>jobyfine-d10e3</string>
	<key>STORAGE_BUCKET</key>
	<string>jobyfine-d10e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065752035386:ios:f33e0aea26b88db675b503</string>
</dict>
</plist>